<h2>My borrowed books</h2>
<hr>
@if (selectedBook){
<div class="d-flex flex-column col-6">
  <h2>Return and share feedback</h2>
  <div class="d-flex flex-column col-12">
    <div class="d-flex">
      <div class="col-1">
        <strong>Title</strong>
      </div>
      <div class="col-11">{{ selectedBook.title }}</div>
    </div>
    <div class="d-flex">
      <div class="col-1">
        <strong>Author</strong>
      </div>
      <div class="col-11">{{ selectedBook.authorName }}</div>
    </div>
    <div class="d-flex">
      <div class="col-1">
        <strong>ISBN</strong>
      </div>
      <div class="col-11">{{ selectedBook.isbn }}</div>
    </div>
    <div class="d-flex">
      <div class="col-1">
        <strong>Rate</strong>
      </div>
      <div class="col-11">{{ selectedBook.rate }}</div>
    </div>
  </div>
  <hr>
  <div class="col-12">
    <form class="row g-3">
      <div class="d-flex gap-3">
        <input [(ngModel)]="feedbackRequest.note" type="range" name="rate" class="form-range w-25" min="0" max="5" step="0.5">
      <app-rating [rating]="feedbackRequest.note || 0"></app-rating>
        {{ feedbackRequest.note }}
      </div>
      <div class="col-12">
        <label for="feedback" class="form-label">Feedback</label>
        <textarea [(ngModel)]="feedbackRequest.comment" name="feedback" rows="4" class="form-control" id="feedback" placeholder="Feedback"></textarea>
      </div>
      <div class="d-flex justify-content-end gap-2 col-12">
        <button (click)="returnBook(true)" type="submit" class="btn btn-outline-primary">
          <i class="fas fa-save"></i>&nbsp; Save and return
        </button>
        <button (click)="returnBook(false)" type="submit" class="btn btn-outline-success">
          <i class="fa-solid fa-paper-plane"></i>&nbsp; Just return
        </button>
        <a (click)="selectedBook = undefined" class="btn btn-link text-danger">
          <i class="fas fa-times"></i>&nbsp; Cancel
        </a>
      </div>
    </form>
  </div>
</div>
} @else {
  <div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">ISBN</th>
      <th scope="col">Rate</th>
      <th scope="col"><i class="fas fa-cogs"></i> </th>
    </tr>
    </thead>
    <tbody>
      @for (book of borrowedBooks().content; track book.id ?? $index) {
        <tr>
          <th scope="row">{{ $index + 1 }}</th>
          <td>{{ book.title }}</td>
          <td>{{ book.authorName }}</td>
          <td>{{ book.isbn }}</td>
          <td><i class="fas fa-star text-warning"></i>{{ book.rate }}</td>
          <td>
            <div class="d-flex gap-2">
              @if (book.returned){
                <i class="fa-regular fa-paper-plane text-primary cursor-pointer"></i>
              } @else {
                <i (click)="returnBorrowedBook(book)" class="fa-solid fa-paper-plane text-success cursor-pointer"></i>
              }
              <i class="fa-solid fa-circle-check cursor-pointer" [class.text-success]="book.returnApproved"></i>
            </div>
          </td>
        </tr>
      }
    <tr>

    </tr>
    </tbody>
  </table>


  <div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a (click)="gotToFirstPage()"
             class="page-link"
             href="javascript:void(0)"
             aria-label="previous"
             [class.disabled]="page == 0"
          >
            <i class="fa-solid fa-angles-left"></i>
          </a>
        </li>
        <li class="page-item">
          <a (click)="gotToPreviousPage()"
             class="page-link"
             href="javascript:void(0)"
             aria-label="previous"
             [class.disabled]="page == 0"
          >
            <i class="fa-solid fa-angle-left"></i>
          </a>
        </li>
        @for (_ of [].constructor(this.borrowedBooks().totalPages); track pageIndex; let pageIndex = $index) {
          <li class="page-item">
            <a (click)="gotToPage(pageIndex)"
               class="page-link"
               href="javascript:void(0)"
               aria-label="page {{ pageIndex + 1}}"
               [class.active]="page == pageIndex"
            >
              {{ pageIndex + 1 }}
            </a>
          </li>
        }

        <li class="page-item">
          <a (click)="gotToNextPage()"
             class="page-link"
             href="javascript:void(0)"
             aria-label="next"
             [class.disabled]="isLastPage"
          >
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li class="page-item">
          <a (click)="gotToLastPage()"
             class="page-link"
             href="javascript:void(0)"
             aria-label="last"
             [class.disabled]="isLastPage"
          >
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>


</div>
}

