spring:
  main:
    web-application-type: none

  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false

  mail:
    host: localhost
    port: 1025

jwt:
  secret: test-secret
  expiration: 3600000

server:
  port: 8999
