spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/book_social_network
    username: username
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: ${EMAIL_HOST_NAME:mail-dev-bsn}
    port: 1025
    username: ${EMAIL_USER_NAME:aymen}
    password: ${EMAIL_PASSWORD:aymen}
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

application:
  security:
    jwt:
      secret-key: 40FGHTAYJKLKHKLJHOUILKNJLKJHLOILMLKMLKJMLKMKLMLK465468765MLKJNJKAGHVJ
      expiration: 8640000
  mailing:
    frontend:
      activation-url: http://localhost:4200/activate-account
  cors:
    origins: http://localhost:4200,http://localhost:8080,http://192.168.1.94:8088,http://192.168.1.94.8080
  file:
    upload:
      photos-output-path: ./uploads

server:
  port: 8088